*{
    margin: 0;
    padding: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   
}

html{
    scroll-behavior: smooth;
}


body{
    background: #080808;
    color: #fff;
}

#header{
    width:100%;
    height:100vh;
    background-image: url(./images/My-img/my-portrait-landscape4.PNG);
    background-size: cover;
    background-position: center;
}

.container{
    padding: 5px 7%;
}

nav{
    display:flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap:wrap;
}

/*website logo style ---start*/
.logo{
    width: 120px;
    height:120px
}
/*website logo style ---end*/

/*get navigation menu list items inline---start */
nav ul li{
    display:inline-block;
    list-style:none;
    margin:0px 20px;
}
/*get navigation menu list items inline---end */

/*adding text styles to navigation menu ---start */
nav ul li a{
    color:white;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
/*adding text styles to navigation menu----end */


/*Adding the hover effect to the navigation menu ---start*/
nav ul li a::after{
    content: '';
    width: 0;
    height: 4px;
    background: #37e3d5;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition:0.4s;
}
nav ul li a:hover::after{
    width: 100%;
}
/*Adding the hover effect to the navigation menu---end*/


.header-text{
    margin-top: 10%;
    font-size: 30px;
    
}

.titles{
    font-style: italic;
    font-size: 0.7em;
}

.header-text h1{
    font-size: 60PX;
    margin-top: 20px;
}

.header-text h1 span{
    color:#37e3d5;
}

/*-------------about section-------------*/
#about{
    padding: 80px 0;
    color: #ababab;
}



.row{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis: 35%; 
}

.about-col-1 img{
    width: 30rem;
    border-radius: 20px;
}

.about-col-2{
    flex-basis: 60%;

}

#about-image{
    
}

#about-image:hover{
    transition: transform 0.5s, border 0.5s;
    border: 4px ridge #37e3d5;
    transform:scale(1.1);
    
    
}

.subtitle{
    font-size: 60px;
    font-weight: 600;
    color: white;
}

#about-text{
    font-size: 1.2rem;
    font-family: "Lucida Grande";
    text-align: justify;
}

/*------------tab titles--------------*/
.tab-titles{
    display: flex;
    margin:20px 0px 40px;
}

.tab-links{
    margin-right: 50px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    position:relative
}

.tab-links::after{
    content:'';
    width:0%;
    height: 4px;
    background:#ed58a0;
    position:absolute;
    left:0;
    bottom:-8px;
    transition:0.5s;
}

.tab-links.active-link::after{
    width: 70%;
}

.tab-contents ul li{
    list-style:none;
    margin: 10px 0; 
}

.tab-contents ul li span{
    color:#e3378a;
    font-size:20px;
}

.tab-contents{
    display:none;
}

.tab-contents.active-tab{
    display:block;
}

/*------------------Services---------------------*/

#services{
    padding: 30px 0;

}

.services-list{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 40px;
    margin-top:50px;

}

.service-content{
    background-color: rgba(41, 41, 41, 0.658);
    padding: 20px;
    border:3px solid #37e3d57c;
    border-radius: 8px;
    text-align: justify;
    
}

.service-logo{
    width: 3rem ;
    height: 3rem ;
    padding-bottom: 8px;    
}

.service-title{
    text-align: center;
    color: #e3378a;
    padding-bottom: 20px;
    font-size: 1.7rem;
    font-weight: 800;
    
}

.services-list div p{
    text-decoration: none;
    color: #fff;
    font-size:1.1em;
}

.services-list div a{
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
    color: #fff;
    display:inline-block
}

.service-content:hover{
    background:#324cb5;
    transition: background 0.5s, transform 0.5s;
    transform:scale(1.1);
}

/*-----------------------------Portfoliio------------------------*/
#portfolio{
    padding:50px 0;
}

.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(250px,1fr));
    grid-gap:40px;
    margin-top:50px;
}

.work{
    border-radius: 10px;
    position: relative;
    overflow:hidden;
    

}

.work img{
  
    width:100%;
    border-radius: 5px;
    display: block;
}

.work:hover img{
    transition: transform 0.5s;
    transform: scale(1.1);  
}

.layer{
    width:100%;
    height: 0%;
    background: linear-gradient(rgba(41, 41, 41, 0.658),#dd50c6aa);
    border-radius: 5px; 
    position:absolute;
    left: 0px;
    bottom:0;
    overflow: hidden;

    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: center;
    align-content:center ; 
}

.work:hover .layer{
    height: 100%;
    transition: height 0.5s;
}

.layer  h3{
    text-align: center;
    color:  #fff ;
    font-weight: 500;
    margin-bottom: 20px;
    font-size: 1.5em;
}

.layer p{
    margin: 5px 30px;
    text-align: justify;
}

.layer a{
    background-color: #ffffffb0 ;
    border: 2px solid #08080861;
    border-radius:50%;
    padding: 10px;
    width: 3em;
    height: 3em;
    display: block;
    justify-items: center;
    top: 10px;
}

/*Adding styles to see more button*/
.btn{
    display:block;
    margin: 50px auto;
    width:fit-content;
    border: 2px solid #dd50c6aa;
    padding: 14px 50px;
    border-radius: 5px;
    text-decoration: none;
    color: #fff;
}

.btn:hover{
    transform: scale(1.05);
    background-color: #dd50c6aa;
    transition: transform 0.5s, background-color 0.5s;
}


/*----------------Contact Info-------------------------*/

/*Adding styles to the left column in the contact info*/

.left-column{
    flex-basis: 35%;

}

.right-column{
    flex-basis: 60%;
}

.left-column p{
    margin-top: 30px;
}

.left-column p img{
    margin-right: 20px;
    width:20px;
    height: 20px;
}


.social-icon a{
    text-decoration: none;
    font-size: 30px;
    display: inline-block;
}

.social-icon a img{
    margin-top: 30px;
    margin-right: 20px;
    width: 30px;
    height: 30px;
}
.social-icon a:hover{
    transform: scale(1.2);
    transition: transform 0.5s;
}

.btn-resume{
    margin: 20px 0;
    display:inline-block;   
}

.right-column form{
    width: 100%;
}

form input, form textarea{
    width: 100%;
    border: 0;
    outline: 0;
    background: #262626;
    padding: 15px;
    margin-top: 5px;
    margin-bottom:15px;
    color:#fff;
    font-size: 1em;
    border-radius: 5px;
}

form label{
    margin-bottom: 2px;
}

.btn-submit{
   background-color: #080808;
   margin: 5px auto;
   padding: 10px auto;
   font-size: 15px;
    
}

.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background-color: #262626;
    margin-top: 20px;
}

.close-icon, .menu-icon{
    display:none;
}



/*---------------------CSS for responsiveness-------------*/

@media only screen and (max-width: 600px){
    #header{
        background-image: url(./images/My-img/my-portrait-mobile2.PNG );
        width:100vw;
        height: 100vh;
        background-position: center;
        
    }

    .header-text{
        margin-top:100%;
        font-size:16px;
    } 

    .header-text h1{
        font-size: 30px ;
    }

    .close-icon,.menu-icon{
    display: block;
    width: 25px;
    height: 25px;
    }

    .nav-links{
        background: #262626;
        position: fixed;
        top:0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;

    }

    nav ul li{
        display: block;
        margin: 25px;
    }

    .close-icon{
        position:absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }

    .subtitle{
        font-size: 40px;
    }

    .about-col-1, .about-col-2{
        flex-basis: 100%;
        
    }

    .about-col-1{
        margin-bottom: 30px;
    }

    #about-image{
        width: 17rem;
        
        overflow: hidden;
        
    }

    .about-col-2{
        font-size: 13px;
    }

    .tab-links{
        font-size: 16px;
        margin-right: 40px;
        
    }

    #about-text{
        font-size: 18px;
        margin-right: 20px;
        margin-top: 15px;
    }

    .service-content{

    }

   /* .service-logo{
        width: 30px;
        height: 30px;
    }*/

    .left-column,.right-column{
        flex-basis: 95%;
    }
   

   
}
